.about {
    background-color: rgb(207, 170, 176);
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 400px;
    height: 400px;
    background-color: rgb(243, 204, 130);
    display: flex;
    justify-content: center;
    align-items: center;
}